//Fonts
@font-face {
    font-family: Creepster;
    src: url(../fonts/Creepster-Regular.ttf);
}



// HTML and Body
html, body {
    font-family: "Creepster", Monospace;
	position: relative;
    width: 100%;
    margin: 0;
    font-size: 1.05rem;
	font-weight: 300;
	color: $brand-pink;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 3rem auto -1px 12rem;
    grid-template-areas:
        "header header header header"
        "main main main main"
        ". . . ."
        "footer footer footer footer";
    align-content: space-between;
    background-color: $brand-black;
}



// Various Elements
a {
    color: $blue-dark;
    font-weight: 300;
	transition: all 0.3s;
}

h1 {
    font-size: 4.5rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px #25CE7B;
}

@media (max-width: 640px) {
    h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 490px) {
    h1 {
        font-size: 2.5rem;
    }
}