$breakpoints: (
    'xs': 0,
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px
);

// main colors
$blue: #007bff;
$blue-dark: #005fc5;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-light: #d3d3d3;
$gray-dark: #343a40;
$black: #000000;
$white: #ffffff;

$brand-pink: #FC647D;
$brand-green: #25CE7B;
$brand-yellow: #F1E95A;
$brand-black: #151D28;